{% block main %}
<h1>Projects</h1>
<ul>
<h2>Number of projects is {{projects.length}}</h2>
{% for project in projects %}
<li>
  <a href="/repositories/{{project.name}}">{{project.name}}</a><br>

  <h2>Project Info</h2>
  <ul>
    <li>name: {{project.name}}</li>
    <li>full_name: {{project.full_name}}</li>
    <li>subscribers count: {{project.subscribers_Count}}</li>
    <li>HTML URL: {{project.html_url}}</li>
    <li>created At: {{project.created_at}}</li>
    <li>updated At: {{project.updated_at}}</li>
    <li>homepage: {{project.homepage}}</li>
    <li>file size: {{project.size}}</li>
    <li>stars: {{project.stargazers_count}}</li>
    <li>watchers: {{project.watchers_count}}</li>
    <li>forks: {{project.forks_count}}</li>
    <li>Quarter Date: {{project.config.config_date}}</li>
    <li>description: {{project.config.config_description}}</li>
  </ul>
  
  <h2>Project Tags</h2>
  {% for tag in project.config.config_tags %}
    <ul>
      <li>{{tag}}</li>
    </ul>
  {% endfor %}

  <h2>Project Images</h2>
  {% for image in project.config.config_images %}
    <ul>
      <li><img src="{{image}}" alt=""></li>
    </ul>
  {% endfor %}

  <h2>Contributors / Team Members</h2>
  {% for member in project.config.contributors %}
    <ul>
      <li>Name: {{member.config_full_name}} <br/>
          Role: {{member.config_role}}
      </li>
      <br>
    </ul>
  {% endfor %}


  <hr>
</li>
{% endfor%}
</ul>
{% endblock %}