<!-- 

HOW TO OUTPUT A VARIABLE INSISDE OF AN HTML TAG =============================

<p> {{project}} </p>
{{ variable_name }} 

Just surround the variable name with two curly braces "{{" "}}" 

and the variable will be output to the page

HOW TO DO A FOR LOOP OVER A LIST OF VARIABLES ===============================

{% for listItem in listName %}

<p> Output single field from listItem here</p>
<p> {{listItem.name}} </p>

{% endfor %}

HOW TO DO AN IF STATEMENT TO CHECK IF A VARIBLE EXISTS ======================

{% if variableName %}

<p>Insert your HTML code here if the variable exists </p>

{% endif %}

If the varible does not exist OR is empty(like an empty field or string)
the code in the IF statement will NOT be outputted

-->


{% block main %}
<h1>Projects</h1>
<ul>
<h2>Number of projects is {{projects.length}}</h2>
{% for project in projects %}
<li>
  <h1>
    <a href="/repositories/{{project.name}}">{{project.name}}</a><br>
  </h1>

  <h2>Project Info</h2>
  <ul>
    <li>name: {{project.name}}</li>
    <li>full_name: {{project.full_name}}</li>
    <li>subscribers count: {{project.subscribers_Count}}</li>
    <li>HTML URL: {{project.html_url}}</li>
    <li>created At: {{project.created_at}}</li>
    <li>updated At: {{project.updated_at}}</li>
    <li>homepage: {{project.homepage}}</li>
    <li>file size: {{project.size}}</li>
    <li>stars: {{project.stargazers_count}}</li>
    <li>watchers: {{project.watchers_count}}</li>
    <li>forks: {{project.forks_count}}</li>

    <!-- Quarter Date and Description are from config files.
    if the team who runs the repository does NOT include a config file these fileds will be left blank -->
    <li>Quarter Date: {{project.config.config_date}}</li>
    <li>description: {{project.config.config_description}}</li>
  </ul>
  
  <h2>Project Tags</h2>
  <ul>
  {% for tag in project.config.config_tags %}
    
    <li>{{tag}}</li>
    
  {% endfor %}
  </ul>

  <h2>Project Images</h2>
  <ul>
  {% for image in project.config.config_images %}
    
    <li><img src="{{image}}" alt=""></li>
    
  {% endfor %}
  </ul>

  <h2>Contributors / Team Members</h2>
  <ul>
  {% for member in project.config.contributors %}
    <li>Name: {{member.config_full_name}} <br/>
        Role: {{member.config_role}}
    </li>
    <br>
  {% endfor %}
  </ul>


  <hr>
</li>
{% endfor%}
</ul>
{% endblock %}