#calculator {
display: inline;
}

#dgtemp {
  background-color: #999;
}

/* Intro Section */
.big-ass-tv {
  height: 510px;
}

.intro-section {
  height: auto;
  padding-bottom: 4rem;
}

.sub-header {
  height: 180px;
  width: 100%;
  background-color: #78A09C;

}

.form-container {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}


