<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="The Developers' Guild is a computer science club at De Anza College dedicated to creating awesome projects. Join today!"/>
    <meta name="author" content="Rathna, Ilan, Ryan, Vihan, Grace">
    <meta name="theme-color" content="#647389"/>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link href="css/lightbox.min.css" rel="stylesheet">
    <link href="css/owl.carousel.min.css" rel="stylesheet">
    <link href="css/owl.theme.default.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

    <title>Developers' Guild - Build software at De Anza College</title>

    <!-- Sections #about, #services, #contact -->


    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/scrolling-nav.css" rel="stylesheet">

    <!-- Main CSS stylesheet-->
    <link rel="stylesheet" href="css/main.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->x
</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <img class="dg-logo-image" src="img/dg_logo.svg"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a class="page-scroll" href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#projects">PAST PROJECTS</a>
                </li>
                <li class="li-pipes">|</li>
                <li>
                    <a class="page-scroll" href="#gallery">GALLERY</a>
                </li>
                <li class="li-pipes">|</li>
                <li>
                    <a class="page-scroll" href="#faq">FAQ</a>
                </li>
                <li class="li-pipes">|</li>
                <li>
                    <a class="page-scroll" href="#contact">CONTACT</a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Section -->
<section id="intro" class="intro-section">
    <div class="container intro-container">
        <div class="row">
            <div class="col-lg-12 jumbotron-container">
                <div class="big-ass-tv">
                    <!-- Put stuff in the TV -->
                </div>
            </div>
        </div>
    </div>
    <!-- Sub Header Section -->
    <section class="sub-header">
        <div class="container">
            <div class="row sub-header-container">
                <div class="col-sm-12 col-md-8 sub-header-child sub-header-text">
                    <h1 class="sub-header-text-child">Developers' Guild</h1>
                    <h4 class="sub-header-text-child">The community for programmers and graphic designers</h4>
                </div>
                <div class="col-sm-12 col-md-4 sub-header-child sub-header-info">
                    <h5 class="sub-header-info-child">Fridays 1:30 PM - 4:00 PM</h5>
                    <h5 class="sub-header-info-child">De Anza College ATC 311</h5>
                </div>
            </div>
        </div>
    </section>

    <section id="nav-buttons" class="nav-section">
        <div class="container">
            <div class="row nav-section-container">
                <div class="row col-md-offset-5">
                    <a href="/repositories" target="_blank">
                        <div class="col-sm-12 col-md-3 nav-button" id="first-nav-btn">
                            <h2 class="nav-btn-text">All Projects</h2>
                        </div>
                    </a>
                    <a href="https://www.developersguild.io/calendar" target="_blank">
                        <div class="col-sm-12 col-md-3 nav-button">
                            <h2 class="nav-btn-text">Events</h2>
                        </div>
                    </a>
                    <a href="https://github.com/DevelopersGuild" target="_blank">
                        <div class="col-sm-12 col-md-3 nav-button">
                            <h2 class="nav-btn-text">GitHub</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

</section>


<!-- Slack -->
<section id="slack" class="slack-section">
    <div class="form-container">
        <div class="slack-header">
            <img src="img/slack-logo.png" alt="">
            <h2 class="slack-section-text">Join us on Slack!</h2>
        </div>
        <form method="POST" action="/invite" id="join-form" class="form-inline">
            <input type="text" name="email" placeholder="john@example.com" id="slack-email"
                   class="form-control slack-input-field">
            <input type="submit" value="Join" class="btn btn-default slack-join-button">
        </form>
    </div>
</section>

<!-- Projects Section -->
<section id="projects" class="projects-section">
    <div class="projects-header">
        <div class="projects-header-container container">
            <h1 class="projects-header-text">Past Projects</h1>
        </div>
    </div>

    <!-- LIST OF PROJECTS GOES HERE -->
    <!-- TODO: abstract this to templating engine so it generates different sections
    for each category
    -->
    <div class="projects-parent-container">
        <div class="container">
            <!-- IOS PROJECTS LIST-->
            <div class="row projects-list-container">
                <div class="col-sm-12 col-md-6">
                    <ul class="projects-list pl-1x1 row">
                        <li class="col-xs-12 col-sm-6 col-md-6">
                            <img src="img/projects/1x1/Koob.png" alt="Koob Project">
                            <h2>Koob</h2>
                        </li>
                        <li class="col-xs-12 col-sm-6 col-md-6">
                            <img src="img/projects/1x1/Cosmic_Ball.jpg" alt="Cosmic Ball Project">
                            <h2>Cosmic Ball</h2>
                        </li>

                    </ul>
                </div>
                <div class="col-sm-12 col-md-3 col-md-offset-3">
                    <h2 class="project-category-header">iOS</h2>
                </div>
            </div>

            <!-- WEB PROJECTS LIST-->
            <div class="row projects-list-container">
                <div class="col-sm-12 col-md-6">
                    <ul class="projects-list row">
                       <li class="col-xs-12 col-sm-6 col-sm-6 col-md-6">
                            <img src="img/projects/1x1/Daze.jpg" alt="Daze Project">
                            <h2>Daze</h2>
                        </li>
                        <li class="col-xs-12 col-sm-6 col-md-6">
                            <img src="img/projects/1x1/Developers_Guild_Forums.jpg"
                                 alt="Developers' Guild Forums project'">
                            <h2>Developers' Guild Forums</h2>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-3 col-md-offset-3">
                    <h2 class="project-category-header">Web</h2>
                </div>
            </div>

            <!-- GAMES PROJECTS LIST -->
            <div class="row projects-list-container">
                <div class="col-sm-12 col-md-6">
                    <ul class="projects-list pl-3x2 row">
                        <li class="col-xs-12 col-sm-6 col-md-6">
                            <img src="img/projects/3x2/Wraithkeepers_Tomb.jpg" alt="Wraithkeeper's Tomb">
                            <h2>Wraithkeeper's Tomb</h2>
                        </li>
                        <li class="col-xs-12 col-sm-6 col-md-6">
                            <img src="img/projects/3x2/battleturf.jpg" alt="Battleturf">
                            <h2>Battleturf</h2>
                        </li>
                        <li class="col-xs-12 col-sm-6 col-md-6">
                            <img src="img/projects/3x2/sanctum_breach.jpg" alt="Sanctum Breach">
                            <h2>Sanctum Breach</h2>
                        </li>
                        <li class="col-xs-12 col-sm-6 col-md-6">
                            <img src="img/projects/3x2/flappybird.jpg" alt="Flappy Bird">
                            <h2>Flappy Bird</h2>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-3 col-md-offset-3">
                    <h2 class="project-category-header">Games</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Gallery Section -->
<section id="gallery" class="gallery-section">
    <div class="gallery-slider">
        <div class="owl-carousel">
            <div class="item">
                <a data-lightbox="carousel" href="/img/people/dgFall2015-og.jpg"><img src="/img/people/dgFall2015.jpg"></a>
            </div>
            <div class="item">
                <a data-lightbox="carousel" href="/img/people/volleyball.jpg"><img src="/img/people/volleyball.jpg"></a>
            </div>
            <div class="item">
                <a data-lightbox="carousel" href="/img/people/cinematicPaul-og.jpg"><img
                        src="/img/people/cinematicPaul.jpg"></a>
            </div>
            <div class="item">
                <a data-lightbox="carousel" href="/img/people/everybody-original.jpg"><img
                        src="/img/people/everybody.jpg"></a>
            </div>
            <div class="item">
                <a data-lightbox="carousel" href="/img/people/chris-talking-original.jpg"><img
                        src="/img/people/chris-talking.jpg"></a>
            </div>
            <div class="item">
                <a data-lightbox="carousel" href="/img/people/halo-original.jpg"><img src="/img/people/halo.jpg"></a>
            </div>
            <div class="item">
                <a data-lightbox="carousel" href="/img/people/chris-group-original.jpg"><img
                        src="/img/people/chris-group.jpg"></a>
            </div>
            <div class="item">
                <a data-lightbox="carousel" href="/img/people/everybody2-original.jpg"><img
                        src="/img/people/everybody2.jpg"></a>
            </div>
            <div class="item">
                <a data-lightbox="carousel" href="/img/people/hendry-group-original.jpg"><img
                        src="/img/people/hendry-group.jpg"></a>
            </div>
            <div class="item">
                <a data-lightbox="carousel" href="/img/people/johnny-group-original.jpg"><img
                        src="/img/people/johnny-group.jpg"></a>
            </div>
        </div>
        <span class="fa fa-arrow-circle-left nav-btn prev"></span>
        <span class="fa fa-arrow-circle-right nav-btn next"></span>
    </div>
</section>


<!-- FAQ Section -->
<section id="faq" class="faq-section">
    <div class="faq-parent-container container">
        <div class="row faq-row-container">
            <div class="faq-header col-sm-12 col-lg-2">
                <h2>FAQs</h2>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-8">
                <div class="faq-container">
                    <div class="faq-inner-container">
                        <div class="question">
                            <p>Q: I don't have any programming experience. Can I still participate?
                            </p>
                        </div>
                        <div class="answer">
                            <p>Yes! We work very hard to accomodate those who are just starting out. Try joining a
                                beginner team!</p>
                        </div>
                    </div>
                </div>
                <div class="faq-container">
                    <div class="faq-inner-container">
                        <div class="question">
                            <p>
                                Q: I don't have a laptop I can bring to the club meetings. Do you provide computers?
                            </p>
                        </div>
                        <div class="answer">
                            <p>
                                Yes! Our meeting room is filled with PCs that you may use when you work on the project
                            </p>
                        </div>
                    </div>
                </div>
                <div class="faq-container">
                    <div class="faq-inner-container">
                        <div class="question">
                            <p>
                                Q: I can't attend the entire meeting because I will arrive late/leave early. Will that
                                be a problem?
                            </p>
                        </div>
                        <div class="answer">
                            <p>
                                It depends on your team. Some teams are very flexible with this while others may have
                                trouble with it.
                                In general, we try hard to be supportive of everyone, despite your time constraints.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 contact-title">
                <p>Is there still something left unanswered? Send us a message!</p>
                <p><a href="mailto:contact@developersguild.io">contact@developersguild.io</a></p>
            </div>
        </div>
    </div>
</section>


<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Scrolling Nav JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/scrolling-nav.js"></script>

<!-- Slack Invite JavaScript -->
<script src="js/slack.js"></script>

<!-- Lightbox.js -->
<script src="js/lightbox.min.js"></script>

<!-- Owl carousel -->
<script src="js/owl.carousel.min.js"></script>

<script src="js/main.js"></script>

<!-- Google Analytics Tag Begin -->
<script type="text/javascript">/* <![CDATA[ */
    (function (d, s, a, i, j, r, l, m, t) {
        try {
            l = d.getElementsByTagName('a');
            t = d.createElement('textarea');
            for (i = 0; l.length - i; i++) {
                try {
                    a = l[i].href;
                    s = a.indexOf('/cdn-cgi/l/email-protection');
                    m = a.length;
                    if (a && s > -1 && m > 28) {
                        j = 28 + s;
                        s = '';
                        if (j < m) {
                            r = '0x' + a.substr(j, 2) | 0;
                            for (j += 2; j < m && a.charAt(j) != 'X'; j += 2)s += '%' + ('0' + ('0x' + a.substr(j, 2) ^ r).toString(16)).slice(-2);
                            j++;
                            s = decodeURIComponent(s) + a.substr(j, m - j)
                        }
                        t.innerHTML = s.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                        l[i].href = 'mailto:' + t.value
                    }
                } catch (e) {
                }
            }
        } catch (e) {
        }
    })(document);
    /* ]]> */</script>
<!-- Google Analytics Tag End -->
</body>

</html>
