<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The Developers' Guild is a computer science club at De Anza College dedicated to creating awesome projects. Join today!" />
    <meta name="author" content="Rathna, Ilan, Ryan, Vihan, Grace">
    <meta name="theme-color" content="#647389" />
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

    <title>Developers' Guild - Build software at De Anza College</title>

    <!-- Sections #about, #services, #contact -->
    

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/scrolling-nav.css" rel="stylesheet">

    <!-- Main CSS stylesheet-->
    <link rel="stylesheet" href="css/main.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Analytics Tag Begin -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-66934913-1', 'auto');
        ga('send', 'pageview');

    </script>
    <!-- Google Analytics Tag end -->
</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <img class="dg-logo-image" src="img/dg_logo.svg"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a class="page-scroll" href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="https://github.com/DevelopersGuild" target="_blank">GITHUB</a>
                </li>
      
                <li>
                    <a class="page-scroll" href="https://www.developersguild.io/join" target="_blank">NEWSLETTER</a>
                </li>
                <li>
                    <a class="page-scroll">|</a>
                </li>
                <li>
                    <a class="page-scroll" href="https://www.developersguild.io/calendar" target="_blank">EVENTS</a>
                </li>
                <li>
                    <a class="page-scroll">|</a>
                </li>
                <li>
                    <a class="page-scroll" href="#slack" target="_blank">SLACK</a>
                </li>
                <li>
                    <a class="page-scroll">|</a>
                </li>
                <li>
                    <a class="page-scroll" href="/repositories" target="_blank">REPOS</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Section -->
<section id="intro" class="intro-section">
    <div class="container intro-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="big-ass-tv">
                    <h1>Scrolling Nav</h1>
                    <p><strong>Usage Instructions:</strong> Make sure to include the <code>scrolling-nav.js</code>, <code>jquery.easing.min.js</code>, and <code>scrolling-nav.css</code> files. To make a link smooth scroll to another section on the page, give the link the <code>.page-scroll</code> class and set the link target to a corresponding ID on the page.</p>
                    <a class="btn btn-default page-scroll" href="#projects">Past Projects</a>
                    <a class="btn btn-default page-scroll" href="#gatherings">Gallery</a>
                    <a class="btn btn-default page-scroll" href="#faq">Frequently Asked Questions</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Sub Header Section -->
<section class="sub-header">
  <div class="container">
    <div class="row sub-header-container">
      <div class="col-sm-12 col-md-8 sub-header-child sub-header-text">
            <h1 class="sub-header-text-child" >Developers' Guild</h1>
            <h4 class="sub-header-text-child">The community for programmers and graphic designers</h4>
      </div>
      <div class="col-sm-12 col-md-4 sub-header-child sub-header-info">
        <h5 class="sub-header-info-child">Fridays 1:30 PM - 4:00 PM</h5>
        <h5 class="sub-header-info-child">De Anza College ATC 311</h5>
      </div>
    </div>
  </div>
</section>

<section id="nav-buttons" class="nav-section">
    <div class="container">
        <div class="row nav-section-container">
            <div class="row col-md-offset-5">
                <a href="#projects" class="page-scroll">
                    <div class="col-sm-12 col-md-3 nav-button" id="first-nav-btn">
                        <h2 class="nav-btn-text">Past Projects</h2>
                    </div>
                </a>
                <a href="#gatherings" class="page-scroll">
                    <div class="col-sm-12 col-md-3 nav-button">
                        <h2 class="nav-btn-text">Gatherings</h2>
                    </div>
                </a>
                <a href="#faq" class="page-scroll">
                    <div class="col-sm-12 col-md-3 nav-button">
                        <h2 class="nav-btn-text">FAQ</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Slack -->
<section id="slack" class="slack-section">
    <div class="form-container">
        <h2>Join us on Slack!</h2>
        <form method="POST" action="/invite" id="join-form" class="form">
            <input type="text" name="email" placeholder="Enter Your Email Address" id="slack-email" class="field">
            <input type="submit" value="Join" class="submit">
        </form>
    </div>
</section>

<!-- Projects Section -->
<section id="projects" class="projects-section">
    <div class="projects-header">
        <div class="container">
            <h1 class="projects-header-text" >Past Projects</h1>
        </div>
    </div>

<!-- LIST OF PROJECTS GOES HERE -->
<!-- TODO: abstract this to templating engine so it generates different sections
for each category
-->
    <div class="container">
        <div class="row projects-list-container">
            <div class="col-sm-12 col-md-6">
                <ul class="projects-list row">
                    <li class="col-md-6">
                        <h1>Project 2</h1>
                    </li>
                    <li class="col-md-6">
                        <h1>Project 1</h1>
                    </li>
                    <li class="col-md-6">
                        <h1>Project 1</h1>
                    </li>
                    <li class="col-md-6">
                        <h1>Project 1</h1>
                    </li>
                    <li class="col-md-6">
                        <h1>Project 1</h1>
                    </li>
                    <li class="col-md-6">
                        <h1>Project 1</h1>
                    </li>
                    <li class="col-md-6">
                        <h1>Project 1</h1>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3 col-md-offset-3">
                <h2>iOS</h2>
            </div>
        </div>

        <div class="row projects-list-container">
            <div class="col-sm-12 col-md-6">
                <ul class="projects-list row">
                    <li class="col-md-6">
                        <h1>Project 2</h1>
                    </li>
                    <li class="col-md-6">
                        <h1>Project 1</h1>
                    </li>
                    <li class="col-md-6">
                        <h1>Project 1</h1>
                    </li>
                    <li class="col-md-6">
                        <h1>Project 1</h1>
                    </li>
                    <li class="col-md-6">
                        <h1>Project 1</h1>
                    </li>
                    <li class="col-md-6">
                        <h1>Project 1</h1>
                    </li>
                    <li class="col-md-6">
                        <h1>Project 1</h1>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3 col-md-offset-3">
                <h2>Web</h2>
            </div>
        </div>

        <div class="row projects-list-container">
            <div class="col-sm-12 col-md-6">
                <ul class="projects-list row">
                    <li class="col-md-6">
                        <h1>Project 2</h1>
                    </li>
                    <li class="col-md-6">
                        <h1>Project 1</h1>
                    </li>
                    <li class="col-md-6">
                        <h1>Project 1</h1>
                    </li>
                    <li class="col-md-6">
                        <h1>Project 1</h1>
                    </li>
                    <li class="col-md-6">
                        <h1>Project 1</h1>
                    </li>
                    <li class="col-md-6">
                        <h1>Project 1</h1>
                    </li>
                    <li class="col-md-6">
                        <h1>Project 1</h1>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3 col-md-offset-3">
                <h2>Games</h2>
            </div>
        </div>
    </div>
</section>

<!-- Services Section -->
<section id="gatherings" class="services-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Gallery</h1>
            </div>
        </div>
    </div>
</section>

<!-- FAQ Section -->
<section id="faq" class="faq-section" ">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-2">
                FAQs
            </div>
            <div class="col-md-12 col-sm-12 col-lg-8">
                <div class="faq-container">
                    <div class="question">
                        <p>I don't have any programming experience can I still participate?
                        </p>
                    </div>
                    <div class="answer">
                        <p>Yes</p>
                    </div>
                </div>
                <div class="faq-container">
                    <div class="question">
                        <p>
                        I don't have a laptop I can bring to the club meetings. Do you provide computers?
                        </p>
                    </div>
                    <div class="answer">
                        <p>
                        Yes! Our meeting room is filled with PCs
                        </p>
                    </div>
                </div>
                <div class="faq-container">
                    <div class="question">
                        <p>
                        I can't attend the entire meeting?
                        </p>
                    </div>
                    <div class="answer">
                        <p> 
                        OK
                        </p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="contact-section2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Contact</h1>
            </div>
        </div>
    </div>
</section>


<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Scrolling Nav JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/scrolling-nav.js"></script>

<!-- Slack Invite JavaScript -->
<script src="js/slack.js"></script>


<!-- Google Analytics Tag Begin -->
<script type="text/javascript">/* <![CDATA[ */(function(d,s,a,i,j,r,l,m,t){try{l=d.getElementsByTagName('a');t=d.createElement('textarea');for(i=0;l.length-i;i++){try{a=l[i].href;s=a.indexOf('/cdn-cgi/l/email-protection');m=a.length;if(a&&s>-1&&m>28){j=28+s;s='';if(j<m){r='0x'+a.substr(j,2)|0;for(j+=2;j<m&&a.charAt(j)!='X';j+=2)s+='%'+('0'+('0x'+a.substr(j,2)^r).toString(16)).slice(-2);j++;s=decodeURIComponent(s)+a.substr(j,m-j)}t.innerHTML=s.replace(/</g,'&lt;').replace(/>/g,'&gt;');l[i].href='mailto:'+t.value}}catch(e){}}}catch(e){}})(document);/* ]]> */</script>
<!-- Google Analytics Tag End -->
</body>

</html>
