<DOCTYPE html>
<html>
	<head>
		<title>Project Page Template</title>
		<!-- <link rel="stylesheet" type="text/css" href="pagetemplate.css"> -->
		<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="bootstrap.css">
	</head>

	<body>
		<div class="container">
			<center>
				<div class="opening">
					<h1>Category - Web Application</h1>
					<br/>
					<h2>Project Name - Novum Julian</h2>
					<br/>
					
				</div>

				<div class="video">
					<img src="http://i.imgur.com/3rksyD3.jpg" alt="Project video" style="width: 500px; height: 250px"/>
				</div>

				<br/><br/><br/>
				<h2>Description</h2>

			<div class="projectDescription">
				{{content | safe}}
			</div>

			<br/>
			<h3>Group Members</h3>
			</center>

			<!-- Have this for the number of members in the group -->

			<div class="members">
				<div class="profile">
						<!-- Have one row with two colums. Second column has 3 rows -->
						<table class="profileTable" border="0" style="height:250px">
							<tr>
								<!-- possibly center later -->
								<td width="30%"><div class="profilepicture"></div></td>
								<td style="vertical-align:top">
									<table border="0" style="width:100%;">
										<tr>
											<td style="height:40px; vertical-align:bottom"><b>Johnny K</b></td>
										</tr>
										<tr>
											<td style="height:40px"><b>Computer Science</b></td>
										</tr>
										<tr>
											<td style="height:1px; text-align:center"><center><i>"Now that the entire paragraph appears to be flushed towards the right, we need to make the first line start from the original left margin. To do this, we apply a negative number to the CSS text-indent property. Since positive numbers move the start of the line to the right, negative numbers move it to the left.Now that the entire paragraph appears to be flushed towards the right, we need to make the first line start from the original left margin. To do this, we apply a negative number to the CSS text-indent property. Since positive numbers move the start of the line to the right, negative numbers move it to the left."</i></center></td>
										</tr>
									</table>
								</td>
							</tr>

						</table>
				</div>

				<div class="profile">
						<!-- Have one row with two colums. Second column has 3 rows -->
						<table class="profileTable" border="0" style="height:250px">
							<tr>
								<!-- possibly center later -->
								<td width="30%"><div class="profilepicture"></div></td>
								<td style="vertical-align:top">
									<table border="0" style="width:100%;">
										<tr>
											<td style="height:40px; vertical-align:bottom"><b>Johnny K</b></td>
										</tr>
										<tr>
											<td style="height:40px"><b>Computer Science</b></td>
										</tr>
										<tr>
											<td style="height:170px; text-align:center"><center><i>"It was a great learning experience"</i></center></td>
										</tr>
									</table>
								</td>
							</tr>

						</table>
				</div>

				<div class="profile">
						<!-- Have one row with two colums. Second column has 3 rows -->
						<table class="profileTable" border="0" style="height:250px">
							<tr>
								<!-- possibly center later -->
								<td width="30%"><div class="profilepicture"></div></td>
								<td style="vertical-align:top">
									<table border="0" style="width:100%;">
										<tr>
											<td style="height:40px; vertical-align:bottom"><b>Johnny K</b></td>
										</tr>
										<tr>
											<td style="height:40px"><b>Computer Science</b></td>
										</tr>
										<tr>
											<td style="height:170px; text-align:center"><center><i>"It was a great learning experience"</i></center></td>
										</tr>
									</table>
								</td>
							</tr>

						</table>
				</div>

				<div class="profile">
						<!-- Have one row with two colums. Second column has 3 rows -->
						<table class="profileTable" border="0" style="height:250px">
							<tr>
								<!-- possibly center later -->
								<td width="30%"><div class="profilepicture"></div></td>
								<td style="vertical-align:top">
									<table border="0" style="width:100%;">
										<tr>
											<td style="height:40px; vertical-align:bottom"><b>Johnny K</b></td>
										</tr>
										<tr>
											<td style="height:40px"><b>Computer Science</b></td>
										</tr>
										<tr>
											<td style="height:170px; text-align:center"><center><i>"It was a great learning experience"</i></center></td>
										</tr>
									</table>
								</td>
							</tr>

						</table>
				</div>
			</div>

		<!-- 	<br/><br/>
			<a class="btn btn-default" href="#" role="button">Link</a>
			<button class="btn btn-default" type="submit">Button</button>
			<input class="btn btn-default" type="button" value="Input">
			<input class="btn btn-default" type="submit" value="Submit"> -->
	    </div>
	</body>
</html>
