{% extends 'partials/layoutMultipage.html' %}

{% block content %}
  <section class="repos-main">
  <div class="repos-header">
    <div class="repos-header-container">
      <h1 class="repos-header-text">Projects</h1>
    </div>
  </div>
  <div class="repos-list-container">
    <ul class="repos-list">
      {% for project in projects %}
      <a href="/projects/{{project.name}}">
        <li>
          <h3>
            {{project.name}}
          </h3>
        </li>
      </a>
      {% endfor %}
    </ul>
  </div>
  </section>
{% endblock %}